---

- name: "Copy 'install_worker' to setup docker configuration for dynamic challenges"
  ansible.builtin.copy:
    src: "files/install_worker.sh"
    dest: "{{ ctf_home }}/install_worker.sh"
    owner: "{{ ctf_user }}"
    group: "{{ ctf_user }}"
    mode: "0644"
  become: true

- name: Run 'install_worker.sh' script
  ansible.builtin.shell: "bash install_worker.sh"
  args:
    chdir: "{{ ctf_home }}"
    executable: /bin/bash
  become: true

- name: Run 'build_dynamic_challenges.sh' script
  ansible.builtin.shell: "bash build_dynamic_challenges.sh"
  args:
    chdir: "{{ challenges_install_path }}"
    executable: /bin/bash
  become: true
  become_user: "{{ ctf_user }}"
