---

- name: "Upload 'github.key' to '/home/{{ ctf_user }}/.ssh/github.key'"
  ansible.builtin.copy:
    src: "files/github.key"
    dest: "/home/{{ ctf_user }}/.ssh/github.key"
    owner: "{{ ctf_user }}"
    group: "{{ ctf_user }}"
    mode: "0600"
  become: true
  become_user: "{{ ctf_user }}"

- name: "Copy SSH config file to '/home/{{ ctf_user }}/.ssh/config'"
  ansible.builtin.template:
    src: ssh_config.j2
    dest: "/home/{{ ctf_user }}/.ssh/config"
    owner: "{{ ctf_user }}"
    group: "{{ ctf_user }}"
    mode: "0644"
  become: true
  become_user: "{{ ctf_user }}"

- name: "Clone HeroCTF challenges' repository to '{{ challenges_install_path }}'"
  ansible.builtin.git:
    repo: "{{ challenges_git_url }}"
    version: "main"
    dest: "{{ challenges_install_path }}"
    accept_hostkey: true
    force: true
  become: true
  become_user: "{{ ctf_user }}"
  register: git_challenge_output
  changed_when: git_challenge_output.changed

- name: Install and pull Git LFS files
  ansible.builtin.shell: "git lfs install; git lfs pull"
  args:
    chdir: "{{ challenges_install_path }}"
    executable: /bin/bash
  become: true
  become_user: "{{ ctf_user }}"
