
================[ CTFd ]====================

- Version: {{ ctfd_version }}
- Linux user: {{ ctf_user }}
- Install path: {{ ctfd_install_path }}
- URL: https://{{ ctfd_domain }}

============================================

